<!DOCTYPE html>
<html ng-app='app'>

<head>
    <title>PutGet Chrome Extension</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller='todoCtrl'>

    <div>
        <input type='text' id='new-todo' ng-model='newContent' placeholder="Item..." />
        <button ng-click="add()" class="button">Add</button>
        <br>
        <input type='text' id='new-desc' ng-model='newDescription' placeholder="Description..." />
        <button ng-click="find()" class="button">Find</button>
        <!--<table>
            <tr>
                <td><input type='text' id='new-todo' ng-model='newContent' placeholder="Item..." />
                <button ng-click="add()" class="button">Add</button></td>
            </tr>
            <tr>
                <td><input type='text' id='new-desc' ng-model='newDescription' placeholder="Description..." />
                <button ng-click="find()" class="button">Find</button></td>
            </tr>
        </table>-->
    </div>
    <script type="text/javascript" src="lib/jquery/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/todoCtrl.js"></script>
    <script type="text/javascript" src="app/todoStorage.js"></script>
</body>

</html>