<!DOCTYPE html>
<html ng-app='app'>

<head>
    <title>PutGet Chrome Extension</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller='todoCtrl'>

    <table>
        <tr>
            <td><input type='text' id='new-todo' ng-model='newContent' class="form-control" placeholder="Item..." /></td>
            <td><button ng-click="add()">Add</button></td>
        </tr>
        <tr>
            <td><input type='text' id='new-desc' ng-model='newDescription' class="form-control" placeholder="Description..."
                /></td>
            <td><button ng-click="find()">Find</button></td>
        </tr>
    </table>

    <script type="text/javascript" src="lib/jquery/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/todoCtrl.js"></script>
    <script type="text/javascript" src="app/todoStorage.js"></script>
</body>

</html>